.image{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.active a .header {
  color: #E8D3A2;
  text-align: center;
}

.link{
  display: none;
}

.tableheader {
  text-align: center;
}

.columns{
  width: 65%;
  margin-left: auto;
  margin-right: auto;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

th, td {
  padding: 15px;
}

table {
  border-spacing: 5px;
}